@{
    ViewData["Title"] = "Confirmation";
}

@model Assignment_4.Models.Restaurant

<div class="text-center">
    <h1>@Model.RestaurantName was successfully added!</h1>
</div>

<div class="text-center">
    <a asp-action="SuggestionList">View All Suggestions</a>
</div>